@font-face {
   font-family: 'circular_spotify';
   src: url(../circular-spotify-text-font/CircularSpotifyText-Book.otf);
}

html
{
   background: #ECD06F;
   font-family: 'circular_spotify';
}

body
{
   margin: 0px;
}

h1
{
   text-align: center;
   color: #000;
   font-size: 7rem;
}

p
{
   padding-left: 20px;
   padding-right: 20px;
   align-content: center;
   color: #000;
   font-size: 20pt;
}

button
{
   background-color: #000;
   color: white;
   border: 10px;
   outline: 10px;
   display: block;
   width: auto;
   margin: auto;
   margin-bottom: 10px;
   cursor: pointer;
   padding: 10px 20px;
   border-radius: 8px;
   font-weight: 600;

   box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
   transition: 0.1s;
}

button:hover
{
   background-color: #ECD06F;
   color: #000;
   

}

button:active
{
   box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
}

footer
{
   /*position: absolute;  j'ai mis ca sinon le footer n'allait pas en bas*/
   position:absolute;
   bottom: 10px;
   right: 10px;
}